<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
 <% usersWithSecrets.forEach(function(user){      %>                  <!--this will loop through all of the secrets for each user that has a secret we'll it inside a paragraph tag -->
      <p class="secret-text"><%=user.secret%></p>
<%    })  %>

    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>           <!--/submit route means sending to our server where it will recieve this in app.get and deciced what to do-->
  </div>
</div>

<%- include('partials/footer') %>
